<div class="container">
  <img src="../../../assets/images/logo2.png" class="logo2">
  <span class="icono">
    <fa-icon [icon]="faCoffee"></fa-icon>
  </span>
</div>
<div>
  <div class="carusel">
    <div class="title-header">
      <a>BUY 1</a>
      <a>GET 2!</a>
    </div>
    <img src="../../../assets/images/caramel.png" class="">
  </div>
  <div class="dots">
    <span >
      <fa-icon [icon]="faCircle" class="dot"></fa-icon>
      <fa-icon [icon]="faCircle" class="dot"></fa-icon>
      <fa-icon [icon]="faCircle" class="dot"></fa-icon>
    </span>
  </div>
</div>

